
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');  */

:root {
    --dark-primary-color     : #C2185B; 
    --default-primary-color  : #E91E63; 
    --light-primary-color    : #F8BBD0; 
    --text-primary-color     : #FFFFFF; 
    --accent-color           : #FF4081; 
    --primary-text-color     : #212121; 
    --secondary-text-color   : #757575; 
    --divider-color          : #BDBDBD; 
}


body {
    font-size: 15px ;
}

.title {
    padding-top: 9px;
}

textarea {
    
    margin: 0;
    padding: 0;
    outline: none;
    border: 1px solid var(--divider-color);
}

input[type="text"]{
    padding: 4px 6px 4px 6px;
    font-size:18px;
    border: 0;
    outline: none;
}

button {
    background-color: var(--text-primary-color);
    height: 29px;
    border: 1px;
    padding: 4px 6px 4px 6px;
    margin-top: 2px;
}

button:hover {
    background-color: var(--light-primary-color);
}

button:active {
    background-color: var(--accent-color);
}


.menu > button:last-child {
    float: right;
}
