
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');  */

:root {
    --dark-primary-color     : #C2185B; 
    --default-primary-color  : #E91E63; 
    --light-primary-color    : #F8BBD0; 
    --text-primary-color     : #FFFFFF; 
    --accent-color           : #FF4081; 
    --primary-text-color     : #212121; 
    --secondary-text-color   : #757575; 
    --divider-color          : #BDBDBD; 
}

body {
    font-size: 15px ;
}

.title {
    padding-top: 9px;
}

#left {
    border-right: 1px solid var(--divider-color);
}

.stdin-outline {
    padding: 6px 0 0 6px;
    border: 1px solid var(--divider-color);
    border-right: 0;
}

textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 6px 4px 6px;
    color: var(--secondary-text-color);
}

input[type="text"]{

    font-size:18px;
    border: 1px solid var(--text-primary-color);
    outline: none;
}

input[type="text"]:hover{
     border: 1px solid var(--divider-color);
}

#run {
    padding: 0;
    margin: 0;
    margin: 5px;
    height: 30px;
    width: 60px;
    background-color: var(--accent-color) ;
    color: var(--text-primary-color);
    border-radius: 16px ;
    float: none;
}

#run:active {
    background-color: var(--dark-primary-color);
}

.menu-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--text-primary-color);
    height: 29px;
    border: 1px;
    padding: 4px 6px 4px 6px;
    margin-top: 2px;
}

button:hover {
    background-color: var(--light-primary-color);
}

button:active {
    background-color: var(--accent-color);
}

.menu > button:last-child {
    float: right;
}
