
:root {
    --font: #000;
    --background: #fff;
    --border: lightgray;
    --graph: #000;
    --invert: 0;
}

.dark {
    --font: #fff;
    --background: #131313;
    --border: #313131;
    --graph: #fff;
    --invert: 1;
}

body {
    background-color: var(--background);
}

#stdout,p,pre,h2,li,table {
    color: var(--font);
    background-color: var(--background);
}

#input {
    background-color: var(--background);
    border-color: var(--border);
    color: var(--font);
}

#buffer {
    color: var(--font);
    background-color: var(--background);
    border-color: var(--border);
}

#execute {
    background-color: var(--background);
    border-color: var(--border);
    color: var(--font);
}

span {
    font-weight: 900;
}

img {
    filter: invert(var(--invert));
}

svg > text {
    fill: var(--font) !important;
    
}

svg > line {
    stroke: var(--font) !important;
    
}

svg > circle {
    fill: var(--graph) !important;
    stroke: var(--graph) !important;
}

a {
    color: #0068E0;
}

/* scrollbar color */

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

