@media (min-width: 1024px) {
  body {
    flex-direction: row-reverse;
    height: 100vh;
  }

  .output-panel {
    width: 50%;
    border-left: 1px solid;
  }

  .input-panel {
    width: 50%;
    position: inherit;
    flex-direction: column-reverse;
  }

  #stdin {
    height: 100%;
  }

  .emited_graph {
    width: 100%;
  }
}
