/* Estilos del programa, pensado con telefonos primero */

* {
  font-size: 1em;
}

body {
  border: 0;
  margin: 0;
  display: flex;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body::-webkit-scrollbar {
  display: none;
}

/* --- Entradas --- */
button {
  cursor: pointer;
  min-width: 48px;
  height: 48px;
  outline: none;
  user-select: none;
}

.tool-bar > a:last-child {
    margin-left: auto;
}

.tool-bar > * {
    padding: 8px;
    cursor: pointer;
}

.tool-bar > input {
    display: none;
}

.input-panel {
  border-top: 1px solid;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-panel {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

#stdin {
  outline: none;
  border: 0;
  padding: 8px;
  resize: none;
  height: 200px;
  font-size: 1.2em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 50px;
}

#stdin:focus {
    height: 50vh;
}

#execute {
    width: 96px;
    border-left: 1px solid;
}

/* --- Salidas --- */

.output-panel {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
}

#stdout {
  margin-bottom: 60vh;
}

.emited_graph {
  width: 100vw;
}

