
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:courier;
    font-size: 1em;
}


#stdout {
    padding: 8px;
    padding-bottom: 50vh;
    user-select: none;
    overflow-x: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.outline {
    display: flex;          
    width: 100%;
}

#input {
    width: 100%;
}

button {
    font-family:courier;
    width: 96px;
    height: 48px;
    border: 1px solid gray;
    border-left: 0;
    outline: none;
    font-size: 1em;
    
}

input {
    padding: 8px;
    border: 1px solid gray;
    font-family:courier;
    outline: none;
    font-size: 1em;
}

#buffer {
    font-size: 1.2em;
    font-family:courier;
    max-height: 100%;
    width: calc(100%-16px);
    resize: none;
    border: 0;
    margin: 0;
    padding: 8px;
    /* padding: 0px; */
    outline: none;
    border-left: 1px solid grey ;
    border-right: 1px solid grey ;
}

#buffer:focus {
    height: 300px;
}

presentation {
    display: flex;
    /* height: 90vh; */
    flex-direction: column;
    align-items: center;
}

img {
    margin: 2em;
}
